.preview {
  width: 100%;

  .meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: $pd-xxl;
    margin-bottom: $pd-m;
    width: 100%;

    & > div {
      display: flex;
      align-items: center;
    }

    .badge {
      margin-right: $pd-m;
    }

    p {
      font-size: $fs-xs;
      margin-right: $pd-m;
    }
  }

  .title {
    margin-bottom: $pd-s;
  }

  .authors {
    display: flex;
    margin-top: $pd-m;

    img {
      margin-right: $upd-s;
    }
  }

  .stats {
    margin-top: $pd-m;
    font-size: $fs-xxs;

    .statSeperator {
      margin: 0 $pd-xs;
    }
  }

  .link {
    margin-top: $pd-xxl;
  }
}
