.searchInput {
  width: 100%;
  // max-width: 714px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid $grey200;

  &:has(input:focus) {
    border-bottom: 1px solid $blue500;
  }

  input[type="text"] {
    padding: $pd-xs;
    border: 1px solid $grey200;
    width: 100%;
    background-color: transparent;
    border: none;

    &:focus {
      outline: 0;
    }
  }

  button[type="submit"] {
    border: none;
    background-color: transparent;
    margin-left: -$pd-xxs;
    transform: translateX(-100%);
  }
}
