.home {
  height: 100%;
  display: flex;
  justify-content: center;
  transform: translateY(-10%);
  text-align: center;

  h1 {
    padding-bottom: $pd-m;
  }

  h5 {
    padding-bottom: $pd-xl;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 714px;
  max-width: 90%;
}
