.banner {
  background-color: $white;
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  border-bottom: 1px solid $grey200;
  padding: 0 $pd-xl;

  img {
    cursor: pointer;
  }
}
